<h1>Art items</h1>

<div class="container">
  <div class="row">

    <div class="col-4 mt-3">
      <% @art_items.each do |art_item| %>
      <li><%= link_to "Gifts for: #{art_item.art.title}", art_item_path(art_item)  %> <%= art_item.format %></li>
      <% end %>
    </div>

    <div class="col-8 mt-3">
      <div class="cards">

        <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/breakfast.jpg)">
          Breakfast
        </div>

        <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/lunch.jpg)">
          Lunch
        </div>

      </div>
    </div>

  </div>
</div>
