<div class="container">
  <div class="page-container">
    <div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://images.unsplash.com/photo-1601227220800-2d174b088c1f?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=2527&q=80);">
    <div class="container">
      <h1>Digital <strong>artwork</strong> + artist-made <strong>gift</strong> collection!</h1>
      <p>Because art takes reality by surprise.</p>
      <a class="btn btn-flat" href="#">Stay Tuned</a>
    </div>
  </div>

  <h3>Can you see us now?</h3>
  <h5>05.08  12:00  artist-made <strong>zoom</strong></h5>
  <p>meet >> lulu . leon . max . lemon . sami</p>

  <br>

  <h3>Our mission . . . </h3>
  <p>Connect creator minds with design lovers.</p>
  <p>Increase venue for the emerging digital-assets market.</p>
  <p>Connect investors with young creators offering limmited edition pieces.</p>
  <p>Protect artist with the beauty of the current technogy tied to NFT.</p>
  <p>Creators receive a porcentage royalty payment for all transactions connected to their work.</p>
  </div>
</div>
