<div class="container">
  <div class="menu-bar">
    <h5>Your <strong>Artwork Collection</strong></h5>
    <%= render "shared/search_form" %>
  </div>


    <div class="container-fluid">
      <div class="row">
        <div class="column">
          <div class="cards">
            <% @arts.each do |art| %>
              <% if current_user.favorited?(art) %>
                  <%= render 'shared/arts', art: art %>
                <% end %>
            <% end %>
          </div>
        </div>
      </div>
    </div>
</div>