
<div class="page-container">
  <div class="container">

  <h1>Digital Artwork</h1>

    <div class="cards">
       <% @arts.each do |art| %>

          <%= image_tag art.img_url %>

       <% end %>
    </div>
  </div>
 </div>
</div>
