
<div class="container-fluid">
  <div class="row">
    <div class="column">
      <br>
    <h4>Digital Artwork</h4>

    <div class="cards">
       <% @arts.each do |art| %>
       <div class="image">
        <%= image_tag art.img_url %>
        <h5><%= art.title %></h5>
        <p><%= art.description %></p>
       </div>
      <% end %>
    </div>

  </div>
 </div>
</div>

