.cart-product {
    overflow: hidden;
    height: 120px;
    background: white;
    box-shadow: 0 0 15px rgba(0,0,0,0.2);
    display: flex;
    align-items: center;
    margin-left: 30px;
    // width: 20%;
  }
  
  .cart-product img {
    height: 100%;
    width: 120px;
    object-fit: cover;

  }
  
  .cart-product h2 {
    font-size: 14px;
    // font-weight: bold;
    margin: 0;
  }
  
  .cart-product p {
    font-size: 12px;
    line-height: 1.4;
    opacity: .7;
    margin-bottom: 0;
    margin-top: 8px;
  }
  
  .cart-product .cart-product-infos {
    padding: 16px;
  }

  .cart-product-infos {
    width: 80%;

  }

  .cart-row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  .booking {
    overflow: hidden;
    min-height: 256px;
    background: white;
    box-shadow: 0 0 15px rgba(0,0,0,0.2);
    display: flex;
    align-items: flex-start;
    margin-right: 30px;
    height: 460px;

    p {
      font-size: 16px;
    }
  }


