// 1-ITEMS-INDEX-PAGE
.card-category-item {
  background-size: cover;
  background-position: center;
  min-height: 400px;
  display: flex;
  align-items: center;
  justify-content: center;
  vertical-align: bottom;
  color: white;
  font-size: 18px;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  border-radius: 2px;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
}

.card-art-item {
  background-size: cover;
  background-position: center;
  height: 100px;
  display: flex;
  justify-content: center;
  // vertical-align: bottom;
  align-items: center;
  color: white;
  font-size: 12px;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  border-radius: 2px;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
}

.cards-items {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 10px;
}

// Smallest device
@media (min-width: 100px) and (max-width: 575px) {
  .cards-items  {
    grid-template-columns: 1fr;
  }
}

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) {
  .cards-items  {
    grid-template-columns: 1fr;
  }
}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {
  .cards-items  {
    grid-template-columns: 1fr;
  }
}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) {
  .cards-items  {
    grid-template-columns: 1fr 1fr;
  }
}

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {
  .cards-items  {
    grid-template-columns: 1fr 1fr;
  }
}

// TEMPORATY + Btn FOR CARD.........................
.fa-plus-square {
  color: white;
  opacity: 0.9;
  transition: opacity 0.3s ease;
}
.fa-plus-square:hover {
  opacity: 1;
  color: white;
}

.card-form-item {
  height: 400px;
  display: flex;
  justify-content: center;
  color: white;
  font-size: 24px;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  border-radius: 2px;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
}
// 2. ITEMS-SHOW-PAGE

 .card-item-show {
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  height: 500px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 3px;
}


// 3. PRODUCT PERSONALIZATION CARDS

// .card-head {
//   position: relative;
//   height: 252px;
//   color: black;
//   background: white;
//   border-radius: 3px 3px 0 0;
// }

// .product-detail {
//   font-size: 11px;
//   color: black;
// }

// .product-detail h2 {
//   font-size: 18px;
//   font-weight: 500;
//   letter-spacing: 2px;
//   padding-bottom: 10px;
//   text-transform: uppercase;
// }

// .back-text {
//   color: black;
//   display: inline-block;
//   font-size: 50px;
//   font-weight: 900;
//   align-content: center;
//   margin-top: 20px;
//   opacity: 0.1;
// }

// .art-info h4 {
//   font-size: 14px;
//   color: white;
//   padding: 0 20px;
// }
.art-info h5 {
  font-size: 14px;
  color: white;
  padding: 0 20px;
}

// BODY / bottom
.card-body {
  background: #fff;
  border-radius: 3px;
  display: flex;
  flex-direction: column;
  min-height: 700px;
}

.product-title {
  display: block;
  font-size: 17px;
  font-weight: 500;
  letter-spacing: 1px;
  text-transform: uppercase;
  color:  grey;
}

.product-title b {
  font-weight: 900;
  letter-spacing: 0px;
}

.badge {
  position: relative;
  font-size: 10px;
  font-weight: 300;
  color: #fff;
  background: black;
  padding: 2px 5px;
  border-radius: 1px;
  top: -2px;
  margin-left: 5px;
}

.product-caption {
  display: block;
  font-size: 10px;
  font-weight: 400;
  text-transform: uppercase;
}

.product-rating {
  font-size: 11px;
}

.product-rating i.grey {
  color: #acacab;
}

.product-size h4 {
  font-size: 11px;
  text-transform: uppercase;
}

.ul-size {
}

.ul-size li {
  list-style: none;
  float: left;

}

.ul-size li a {
  display: inline-block;
  text-decoration: none;
  font-size: 11px;
  width: 22px;
  height: 22px;
  border-radius: 100%;
  text-align: center;
  line-height: 23px;
  color: #000;
}

.ul-size li a.active {
  background: black;
  color: #fff;
}

.product-size:before,
.product-size:after {
  content: '';
  display: block;
  clear: both;
}

.product-color h4 {
  font-size: 11px;
  text-transform: uppercase;
}

.ul-color {
}

.ul-color li {
  list-style: none;
  float: left;
  padding: 6px;
  // margin-right: 20px;
}

.ul-color li a {
  display: inline-block;
  width: 12px;
  height: 12px;
  border-radius: 100%;
}

.ul-color li a.black {
  background: black;
}
.ul-color li a.grey {
  background: lightgrey;
}
.ul-color li a.white {
  background: #F1F1F1;
}
.ul-color li a.red {
  background: #FF0100;
}
.ul-color li a.green {
  background: green;
}
.ul-color li a.blue {
  background: #314CCD;
}

.ul-color li a.active:after {
  position: absolute;
  content: '';
  display: inline-block;
  border: 1px solid black;
  width: 18px;
  height: 18px;
  border-radius: 100%;
  margin-left: -3px;
  margin-top: -3px;
}
.add-to-card {
  margin-top: 60px;
}
.btn-flat h4 {
  text-align: center;
  font-size: 14px;
  margin-top: 0;
}

// DROPDOWN MENUS...................................

.dropdownmenu {
  border-radius: 3px;
  margin-top: 30px;
  color: black;
}

.dropdownmenu ul, .dropdownmenu li {
  margin: 0;
  padding: 0;
}
.dropdownmenu ul {
  background: white;
  list-style: none;
  width: 100%;
}
.dropdownmenu li {
  float: left;
  position: relative;
  width: 100%;
}
.dropdownmenu a {
  background: white;
  color: black;
  display: block;
  font-size: 12px;
  padding: 10px 25px;
  text-align: center;
  border-radius: 3px;
  text-decoration: none;
  -webkit-transition: all .25s ease;
  -moz-transition: all .25s ease;
  -ms-transition: all .25s ease;
  -o-transition: all .25s ease;
  transition: all .25s ease;
  border: 1px solid grey;
}
.dropdownmenu li:hover a {
  background: lightgrey;
  border: 1px solid grey;
}
#submenu {
  left: 0;
  opacity: 0;
  position: absolute;
  top: 35px;
  visibility: hidden;
  z-index: 1;
}
li:hover ul#submenu {
  opacity: 1;
  top: 40px;  /* adjust this as per top nav padding top & bottom comes */
  visibility: visible;
}
#submenu li {
  float: none;
  width: 100%;
}
#submenu a:hover {
  background: lightgrey;
}
#submenu a {
  background-color:white;
}
.devices {
  display: flex;
  flex-direction: column;
}
#hidden {
  color: white;
}

// MOCKUP ICONS/ ART-SHOW PAGE...................................

.card-art-icon {
  background-size: 40%;
  background-repeat: no-repeat;
  background-position: center;
  height: 70px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: black;
  font-size: 10px;
  border-radius: 2px;

}
.cards-icon {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 16px;
}
.center {
  text-align: center;
  justify-content: center;
}

// EACH ITEM/ SHOW PAGE// MOCKUP OVERLAY...................................

.card-category-ipad {
  background-size: cover;
  background-position: center;
  height: 700px;
  width: 700px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 3px;
  opacity: 0.9;

}
.card-category-ipad img {
  background-color: rgba(0,0,0,0.5);
  position: relative;
  right: -9px;
  top: -2px;
  height: 487px;
  width: 373px;
  border-radius: 16px;
  opacity: 0.8;
}

.card-category-poster {
  background-size: cover;
  background-position: center;
  height: 700px;
  width: 700px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 3px;
  opacity: 0.9;
}
.card-category-poster img {
  position: relative;
  right: 2px;
  top: 65px;
  height: 446px;
  width: 332px;
  border-radius: 2px;
  opacity: 0.9;
}

.card-category-postcard {
  background-size: cover;
  background-position: center;
  height: 700px;
  width: 700px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 3px;
  opacity: 0.9;
}
.card-category-postcard img {
  position: relative;
  right: -1px;
  top: 36px;
  height: 396px;
  width: 320px;
  border-radius: 2px;
  opacity: 0.9;
}

.card-category-bag {
  background-size: cover;
  background-position: center;
  height: 700px;
  width: 700px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 3px;
  opacity: 0.9;
}
.card-category-bag img {
  position: relative;
  right: -5px;
  top: 79px;
  height: 270px;
  width: 270px;
  border-radius: 50%;
  opacity: 0.8;
}

.card-category-cell {
  background-size: cover;
  background-position: center;
  height: 700px;
  width: 700px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 3px;
  opacity: 0.9;
}
.card-category-cell img {
  position: relative;
  right: 6px;
  top: 60px;
  height: 490px;
  width: 243px;
  border-radius: 40px;
  opacity: 0.8;
}

.card-category-hoodie {
  background-size: cover;
  background-position: center;
  height: 700px;
  width: 700px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 3px;
  opacity: 0.9;
}
.card-category-hoodie img {
  position: relative;
  right: -5px;
  top: 22px;
  height: 220px;
  width: 220px;
  border-radius: 50%;
  opacity: 0.8;
}

.card-category-tshirt {
  background-size: cover;
  background-position: center;
  height: 700px;
  width: 700px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 3px;
  opacity: 0.9;
}
.card-category-tshirt img {
  position: relative;
  right: 3px;
  top: 65px;
  height: 165px;
  width: 165px;
  border-radius: 50%;
  opacity: 0.8;
}
.small-text-14 {
font-size: 14px;
}
.price {
  font-size: 24px;
  margin-bottom: 0;
}
.small-text-10 {
font-size: 10px;
text-align: center;
margin-bottom: 0;
}



