// 1-ITEMS-INDEX-PAGE
.card-category-item {
  background-size: cover;
  background-position: center;
  height: 400px;
  display: flex;
  align-items: center;
  justify-content: center;
  vertical-align: bottom;
  color: white;
  font-size: 18px;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  border-radius: 2px;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
}

.card-art-item {
  background-size: cover;
  background-position: center;
  height: 100px;
  display: flex;
  justify-content: center;
  // vertical-align: bottom;
  align-items: center;
  color: white;
  font-size: 12px;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  border-radius: 2px;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
}

.cards-items {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 16px;
}

// Smallest device
@media (min-width: 100px) and (max-width: 575px) {
  .cards-items  {
    grid-template-columns: 1fr;
  }
}

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) {
  .cards-items  {
    grid-template-columns: 1fr;
  }
}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {
  .cards-items  {
    grid-template-columns: 1fr;
  }
}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) {
  .cards-items  {
    grid-template-columns: 1fr 1fr;
  }
}

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {
  .cards-items  {
    grid-template-columns: 1fr 1fr;
  }
}

// TEMPORATY + Btn FOR CARD.........................
.fa-plus-square {
  color: white;
  opacity: 0.9;
  transition: opacity 0.3s ease;
}
.fa-plus-square:hover {
  opacity: 1;
  color: white;
}

.card-form-item {
  height: 400px;
  display: flex;
  justify-content: center;
  color: white;
  font-size: 24px;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  border-radius: 2px;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
}
// 2. ITEMS-SHOW-PAGE

 .card-item-show {
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  height: 500px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 3px;
}

// 3. PRODUCT PERSONALIZATION CARDS

.card-head {
  position: relative;
  height: 252px;
  background: black;
  /* Old browsers */
  background: -moz-linear-gradient(-45deg, black 8%, lightgrey 83%);
  /* FF3.6-15 */
  background: -webkit-linear-gradient(-45deg, black 8%, lightgrey 83%);
  /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(135deg, black 8%, lightgrey 83%);
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  border-radius: 3px 3px 0 0;
}

.product-detail {
  font-size: 11px;
  color: #fff;
}

.product-detail h2 {
  font-size: 18px;
  font-weight: 500;
  letter-spacing: 2px;
  padding-bottom: 10px;
  text-transform: uppercase;
}

.back-text {
  display: inline-block;
  font-size: 50px;
  font-weight: 900;
  align-content: center;
  margin-top: 20px;
  opacity: 0.1;
}

.art-info h4 {
  font-size: 14px;
  color: white;
  padding: 0 20px;
}
.art-info h5 {
  font-size: 14px;
  color: white;
  padding: 0 20px;
}

// BODY / bottom
.card-body {
  background: #fff;
  border-radius: 3px;
  display: flex;
  flex-direction: column;
}

.product-title {
  padding: 0px 20px 5px 20px;
  display: block;
  font-size: 17px;
  font-weight: 500;
  letter-spacing: 1px;
  text-transform: uppercase;
}

.product-title b {
  font-weight: 900;
  letter-spacing: 0px;
}

.badge {
  position: relative;
  font-size: 10px;
  font-weight: 300;
  color: #fff;
  background: black;
  padding: 2px 5px;
  border-radius: 1px;
  top: -2px;
  margin-left: 5px;
}

.product-caption {
  display: block;
  padding: 0 20px;
  font-size: 10px;
  font-weight: 400;
  text-transform: uppercase;
}

.product-rating {
  padding: 0 20px;
  font-size: 11px;
}

.product-rating i.grey {
  color: #acacab;
}

.product-size h4 {
  font-size: 11px;
  padding: 0 21px;
  margin-top: 25px;
  padding-bottom: 10px;
  text-transform: uppercase;
}

.ul-size {
}

.ul-size li {
  list-style: none;
  float: left;
  margin-right: 4px;
}

.ul-size li a {
  display: inline-block;
  text-decoration: none;
  font-size: 11px;
  width: 22px;
  height: 22px;
  border-radius: 100%;
  text-align: center;
  line-height: 23px;
  color: #000;
}

.ul-size li a.active {
  background: black;
  color: #fff;
}

.product-size:before,
.product-size:after {
  content: '';
  display: block;
  clear: both;
}

.product-color h4 {
  font-size: 11px;
  padding: 21px;
  margin-top: 20px;
  padding-bottom: 20px;
  text-transform: uppercase;
}

.ul-color {

  margin-left: 27px;
}

.ul-color li {
  list-style: none;
  float: left;
  margin-right: 20px;
}

.ul-color li a {
  display: inline-block;
  width: 16px;
  height: 16px;
  border-radius: 100%;
}

.ul-color li a.black {
  background: black;
}
.ul-color li a.grey {
  background: lightgrey;
}
.ul-color li a.white {
  background: #F1F1F1;
}
.ul-color li a.red {
  background: #FF0100;
}
.ul-color li a.green {
  background: green;
}
.ul-color li a.blue {
  background: #314CCD;
}

.ul-color li a.active:after {
  position: absolute;
  content: '';
  display: inline-block;
  border: 1px solid black;
  width: 24px;
  height: 24px;
  border-radius: 100%;
  margin-left: -5px;
  margin-top: -5px;
}
.add-to-card {
  margin-top: 60px;
}
.btn-flat h4 {
  text-align: center;
  font-size: 14px;
  margin-top: 0;
}

// DROPDOWN MENUS...................................

.dropdownmenu {
  border-radius: 3px;
  margin-top: 30px;
  color: black;
}

.dropdownmenu ul, .dropdownmenu li {
  margin: 0;
  padding: 0;
}
.dropdownmenu ul {
  background: white;
  list-style: none;
  width: 100%;
}
.dropdownmenu li {
  float: left;
  position: relative;
  width: 100%;
}
.dropdownmenu a {
  background: white;
  color: black;
  display: block;
  font-size: 12px;
  padding: 10px 25px;
  text-align: center;
  border-radius: 3px;
  text-decoration: none;
  -webkit-transition: all .25s ease;
  -moz-transition: all .25s ease;
  -ms-transition: all .25s ease;
  -o-transition: all .25s ease;
  transition: all .25s ease;
  border: 1px solid grey;
}
.dropdownmenu li:hover a {
  background: lightgrey;
  border: 1px solid grey;
}
#submenu {
  left: 0;
  opacity: 0;
  position: absolute;
  top: 35px;
  visibility: hidden;
  z-index: 1;
}
li:hover ul#submenu {
  opacity: 1;
  top: 40px;  /* adjust this as per top nav padding top & bottom comes */
  visibility: visible;
}
#submenu li {
  float: none;
  width: 100%;
}
#submenu a:hover {
  background: lightgrey;
}
#submenu a {
  background-color:white;
}
.devices {
  display: flex;
  flex-direction: column;
}
#hidden {
  color: white;
}

// MOCKUP OVERLAY...................................
.card-category-ipad {
  background-size: cover;
  background-position: center;
  height: 669px;
  width: 600px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 3px;
  opacity: 0.9;

}
.card-category-ipad img {
  background-color: rgba(0,0,0,0.5);
  position: relative;
  right: -12px;
  top: -2px;
  height: 417px;
  width: 324px;
  border-radius: 16px;
  opacity: 0.9;
}

