.menu-bar {
  display: flex;
  justify-content: space-between;
  padding-left: 30px;
  padding-right: 30px
}
.menu-bar h5 {
  padding-top: 16px;
}

.tabs-underlined {
  display: flex;
  align-items: center;
}

.tabs-underlined .tab-underlined {
  color: black;
  padding-right: 4px;
  margin: 4px 8px;
  opacity: .4;
  cursor: pointer;
  text-decoration: none;
  border-bottom: 1px solid transparent;
}

.tabs-underlined .tab-underlined.active {
  opacity: 1;
  border-bottom: 3px solid #555555;
}

