.navbar-lewagon {
  display: flex;
  justify-content: space-between;
  color: black;
  background: white;
  flex-direction: row;
  padding-left: 30px;
  padding-right: 30px
}
a:hover{
  opacity: .6;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.nav-btn {
  flex-direction: row;
  justify-content: center;
  align-content: center;
  margin-left: auto;
}
/* avatar / icons */
.navbar .fa-user {
  color: black;
  font-size: 24px;
  padding-left: 48px;
}

.navbar .fa-heart {
  color: black;
  font-size: 24px;
  padding-left: 48px;
}

.navbar .fa-shopping-bag {
  color: black;
  font-size: 24px;
  padding-right: 10px;
}

.search-container {
  // margin-top: 10px;
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: flex-end;
}

.search-form-control {
  position: relative;
  width: 100%;
}

.search-form-control .btn-flat {
  position: absolute;
  top: 0px;
  bottom: 0px;
  right: 0px;
}

.search-form-control .form-control {
  height: 2.3rem;
  border: 1px solid #E7E7E7;
  justify-content: stretch;
  margin-right: 200px;
}

.search-form-control .form-group {
  display: flex;
  flex-direction: row;
  width: 100%;
}

.form_control {
  justify-content: stretch;
}

// #btn-padding {
//   padding-left: 40px;
// }
