

.order-header {
  border-bottom: solid 1.5px grey;
  // padding-top: 25px;
  display: flex;
  justify-content: center;
  padding: 14px 0px;

}

.order-header h5 {
  margin-bottom: 0px;
}

.order-price {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.order-promotional {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  color: grey;
}

.promotional-plus {
  justify-content: center;
  padding: 0px 30px;
  cursor: pointer;
}

.order-table {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-top: 15px;
}

#pay {
    width: 100%;
    margin-top: 8px;
    margin-bottom: 24px;
    margin-left: 0px;
    margin-right: 0px;
    border-color: black;
}
