.confirmation {
    position: relative;
    width: 100%;
    height: 400px;
  }
.orders{
  margin-top: 20px;
}
.summary{
    background-color: #f1ebeb;
    position: absolute;
    top: 270px;
    right: 450px;
    width: 1000px;
    height: 330px;
  }

  .summary h3{
    margin-top: 50px;
    text-align: center;
  }
